extends ../layout/main

block variables
  - var title = 'Тестовое задание';
  - var description = 'Build static web page with following content';
  - var pageClass = 'index-page';

block content
  section
    .container
      .target-indicator
        .target-indicator__header
          h2.target-indicator__title= 'Target Indicator Demo'
        .target-indicator__body
          .target-indicator__figure
            h3.target-indicator__subtitle= 'Reached:'
            .target-indicator__indicator
              .target-indicator__fill-in
            .target-indicator__arrow
              +arrow('$14')
            .target-indicator__counter
              +counter('Target', '$15')
            .target-indicator__info
              img.target-indicator__icon(title="Attention", alt="Attention")
              span.target-indicator__descr= 'You need $1 more to reach your target.'

block script
  //- script description