// Font
$mainFont                : 'Roboto', sans-serif;
$secondFont              : 'Work Sans', sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;
// Width
$mainBodyWidth           : 350px;
$fieldReachedWidth       : 325px;
// Radius
$default-radius          : 8px;
$header-radius           : 5px;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff;
$major-text-color        : #5F5D51;
$headerField-color       : #4A4949;

// Neutral Color
$fieldSurround-color     : #F2F2F2;

// Border Color
$border-color            : #666666;
$borderInside-color      : #D6D3D3;