@import "../utils/vars";

.target-indicator {    
    height               : 150px;
    max-width            : $mainBodyWidth;
    border-radius        : $default-radius;
    border               : 1px solid $border-color;
    background-color     : $fieldSurround-color;
    box-shadow           : 0 -0.5px 7px rgba(0,0,0,0.5);

    // section
    display              : flex;
    flex-direction       : column;
}

.target-indicator__header {
    height               : 30px;
    background-color     : $headerField-color;
    border-radius        : $less-radius $less-radius 0 0;

    // section
    display              : flex;
    align-items          : center;
    justify-content      : flex-start;
}

.target-indicator__title {
    font-family          : $mainFont;    
    font-size            : 13px;
    font-weight          : 600;
    letter-spacing       : 0.05em;
    padding              : 0 12px;
    color                : $default-color;
}

.target-indicator__body {
    height               : 120px;

    // section
    display              : flex;
    justify-content      : center;
    align-items          : center;
}

.target-indicator__figure {
    height               : 98px;
    width                : $fieldReachedWidth;
    background-color     : $default-color;
    border-radius        : $less-radius;
    border               : 1px solid $borderInside-color;

    @media screen and (max-width: $phoneWidth) {
      width              : 260px;
    }

    // section
    display              : grid;
    grid-template-rows   : 13px 13px 13px 13px 13px 25px 1fr;
    grid-template-columns: 1fr 83px 60px 60px 50px 5px 1fr;
}

.target-indicator__subtitle {
    // position youself
    grid-row             : 3;
    grid-column          : 2;

    // font
    font-family          : $mainFont;
    font-size            : 14px;
    font-weight          : 400;
    letter-spacing       : 0.03em;
    color                : $mainFontColor;

    // section
    display              : flex;
    justify-content      : center;
    align-items          : center;
}

.target-indicator__indicator {
    // position youself
    grid-row             : 3;
    grid-column          : 3/4;

    // -----
    height               : 13px;
    width                : 120px;
    background-color     : #CECECE;
}

.target-indicator__fill-in {
    margin               : 3px;
    height               : 7px;
    width                : 105px;
    background-color     : #2E89D1;
}

.target-indicator__arrow {
    // position youself
    grid-row             : 4;
    grid-column          : 4;
}

.target-indicator__counter {
    // position youself
    grid-row             : 2/5;
    grid-column          : 5;
}

.target-indicator__info {
    // position youself
    grid-row             : 6;
    grid-column          : 2/6;

    // section
    display              : flex;
    align-items          : center;
    justify-content      : space-evenly;
}

.target-indicator__icon {
    width                : 15px;
    height               : 15px;
    content              : url(/assets/img/exclamation-mark.svg);
}

.target-indicator__descr {
    font-size            : 13px;
    font-weight          : 300;    
    letter-spacing       : 0.01em;
    color                : $mainFontColor;
}